*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    font-family: "Montserrat",sans-serif;
}

.container-fluid{
    width: 90%;
    margin: auto;
}

.table-responsive{
    max-height: 700px;
    box-shadow: rgba(0,0, 0, 0.25);
}
tr:hover{
    background-color: #ffa;
}

td, th {
    position: relative;
}

.table td, .table th{
    padding: 0.75rem;
    vertical-align: top;
    border-top: none;
}

td:hover::after, .th:hover::after{
    content: "";
    position: absolute;
    background-color: #f2f2f2;
    left: 0;
    top: 5000px;
    height: 5000px;
    width: 100%;
    z-index: -1;

}

.table tr td:hover:nth-child(4){
    background-color: red;
    color: aliceblue;
    border: 0.5px solid rgb(12, 12, 12);
}


.table tr td:hover{
    background-color: rgb(177, 223, 122);
    color: aliceblue;
    border: 0.5px solid rgb(12, 12, 12);
}

.thead-dark{
    font-weight: bold;
    text-transform: uppercase;
}